// Place all the styles related to the ranking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-box {
    width: 270px;
    margin: 20px;
    float: left;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    position: relative;
    .number {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
    .image {
        width: 270px;
        height: 270px;
        display: table;
        border : 1px solid #ddd;
        text-align: center;
        background: #fff;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        .img-wrap {
          width: 270px;
          height: 270px;
          padding: 10px;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
    }
    .detail {
        height: 55px;
        padding: 10px;
        border: 1px solid #ddd;
        margin-right: -22px;
        border-top: 0;
        background: #fafafa;
        font-size: 15px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        .spot-title {
          margin: 0;
          overflow : hidden;
          text-align: center;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
    }
}